<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rinachi's Game List website!</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
<header>
    <h1> Játéklistám </h1>
</header>
<main>
    <table class="styled-table">
        <thead>
    <tr>
        <th>Játék neve</th>
        <th>Beszerzés dátuma</th>
        <th>Fejlesztő</th>
        <th>Kiadó</th>
        <th>Művelet</th>
    </tr>
        </thead>
        <tr th:each="game : ${games}">
            <td th:text="${game.gameTitle}">John Doe</td>
            <td th:text="${#dates.format(game.releaseDate, 'yyyy-MM-dd')}">1980-01-01</td>
            <td th:text="${game.developer}">John Doe</td>
            <td th:text="${game.publisher.name}">Publisher Name</td>
            <td>
                <a th:href="@{'/gamelist/delete/' + ${game.id}}"
                   onclick="return confirm('Biztos hogy törölni akarod ezt a játékot?');">
                    Törlés
                </a>
            </td>
        </tr>
    </table>
    <table style="margin: 0 auto;">
        <tr>
            <td><a href="/gamelist/new" class="button">Új játék hozzáadása</a></td>
            <td><a href="/" class="button">Vissza</a></td>
        </tr>
    </table>
</main>
<footer>
    <br>
    <div style="text-align: center;"><p>2025</p></div>
</footer>
</div>
</body>
</html>