<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rinachi's Game List website!</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<header>
    <p><div style="text-align: center;"> Rinachi játékgyűjteménye. Üdv a weboldalon! </p></div>
</header>
<body>
<div style="text-align: center;"><a href="/gamelist/lista" class="button">Játékok listája</a></div>
<br>
<div style="text-align: center;"><a href="/publisher_list/lista" class="button">Kiadók listája</a></div>
</body>
</html>